# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.tfvars

# SSH Keys
restart-devops
restart-devops-correct.pub
*.pem/
*.key/

# AWS Credentials
.aws/
keyscsv/
*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
